@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: #fafafc;
  --foreground: #171717;
  --color-primary: #00087d;
  --color-primary-hover: #0c0cae;
  --container: #ffffff;
  --on-container: #171717;
  --border: #e0e0e0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
